#tickers-grid {
    display: flex;
    flex-wrap: wrap
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.5s;
    background: #eee;
}

.light-red {
    color: #FF0000;
}

.dark-red {
    color: #880000;
}

.grey {
    color: #808080;
}

.dark-green {
    color: #006600;
}

.light-green {
    color: #00BB00;
}

#tickers-grid {
    display: flex;
    flex-wrap: wrap
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    color: black;
}

.flash-red {
    transition: background-color 1s;
    background-color: #FFCCCC !important;  
} 

.flash-green {
    transition: background-color 1s;
    background-color: #CCFFCC !important;  
}

.flash-grey {
    transition: background-color 1s;
    background-color: #CCC !important;  
}